ansicon==1.89.0
blessed==1.20.0
codefind==0.1.4
distlib==0.3.8
filelock==3.13.4
gunicorn==22.0.0
jinxed==1.2.1
jurigged==0.5.7
ovld==0.3.5
packaging==24.0
platformdirs==4.2.1
python-dotenv==1.0.1
setuptools==69.5.1
six==1.16.0
virtualenv==20.26.0
watchdog==4.0.0
wcwidth==0.2.13
wheel==0.43.0





asgiref
awscli
boto3
botocore
certifi
charset-normalizer
colorama
decouple
dj-database-url
Django
django-ckeditor
django-extensions
django-filter
django-heroku
django-js-asset
django-on-heroku
django-storages
django-widget-tweaks
docopt
docutils
graphviz
gunicorn
idna
jmespath
mysqlclient
numpy
Pillow
pipreqs
psycopg
psycopg2
psycopg2-binary
pyasn1
pydot
pyparsing
python-dateutil
python-decouple
pytz
PyYAML
requests
rsa
s3transfer
six
sqlparse
tk
typing_extensions
tzdata
urllib3
whitenoise
yarg
